/*---------------------
 #BASE
---------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
  margin-top: 0;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

a {
  color: #55acee;
  text-decoration: none;
}

a:hover {
  opacity: .8;
}



/*---------------------
 #TWEETS
---------------------*/

.tweet-search {
  max-width: 400px;
  margin: 0 auto;
}

.tweets {
  padding-top: 0;
}

.tweet {
  color: black;
  padding: 25px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.avatar {
  display: inline-block;
  border-radius: 3px;
  margin-right: 12px;
  box-shadow: -2px 2px 4px #ccc;
}

.user-info {
  display: inline-block;
}

.user-info .fa {
  float: right;
}

.user-name {
  font-weight: bold;
  font-size: 15px;
}

a.user-handle {
  color: #66757f;
}

.tweet__stats {
  color: #66757f;
}

.tweet__text {
  font-size: 18px;
  line-height: 1.5;
}

.tweet__nums {
  float: right;
}

.tweet .fa-retweet {
  color: darkblue;
}

.tweet .fa-heart {
  color: darkred;
}

.u-pad-right {
  padding-right: 15px;
}





/*---------------------
 #EMPTY-SET
---------------------*/

.empty-set {
  text-align: center;
  padding: 25px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  background-color: #eee;
}

.empty-set .fa {
  font-size: 75px;
}

.fa-twitter,
.fa-twitter-square {
  color: #55acee;
}


/*---------------------
 #LAYOUT
---------------------*/

.l-box {
  padding: 2em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.is-center {
  text-align: center;
}



/*---------------------
 #FORMS
---------------------*/

.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}



/*---------------------
 #BUTTONS
---------------------*/

.pure-button {
  background-color: #1f8dd6;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: #fff;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}



/*---------------------
 #MENU
---------------------*/

.home-menu {
  padding: .5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
  background: #2d3e50;
  color: #fff;
}

.home-menu a {
  color: #fff;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #eee;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}



/*---------------------
 #CONTENT
---------------------*/

.content-wrapper {
  position: relative;
  width: 100%;
  background: #fff;
}

/* Main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0;
}

/* Content sub-headers (<h3>) */
.content-subhead {
  color: #1f8dd6;
}



/*---------------------
 #FOOTER
---------------------*/

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eee;
  padding: 1em 0;
}



/*---------------------
 #MediaQuery - MEDIUM
---------------------*/

@media (min-width: 48em) {

  body {
    font-size: 14px;
  }

  .content {
    padding: 1em;
    margin-bottom: 70px;
  }

  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }

  .l-box-lrg {
    border: none;
  }
}



/*---------------------
 #MediaQuery - LARGE
---------------------*/

@media (min-width: 78em) {
  
}
