/* Twitter Brand Colors */
/* Blue: #292f33 */
/* Red: #e81c4f */
/* Green: #19cf86 */
/* Dark Grey: #e1e8ed */
/* Mid Grey: /
/* Light Grey: #66757f */
/* White: #fff */
/* Black: #292f33 */


/*---------------------
 #BASE
---------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  color: #292f33;
  font-size: 13px;
  font-family: helvetica neue;
  -webkit-font-smoothing: antialiased;
}

.app {
  max-width: 960px;
  margin: 0 auto;
}



/*---------------------
 #CONTENT
---------------------*/

.content-wrapper {
  position: relative;
  width: 100%;
  background: #fff;
  background: -webkit-linear-gradient(top, #fff 300px, #e1e8ed 800px);
  min-height: 800px;
  height: 100%;
}

/* Main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0;
}



/*---------------------
 #TEXT & LINKS
---------------------*/

h1, h2, h3, h4, h5, h6, label {
  color: #292f33;
  margin-top: 0;
}

a {
  /*Twitter Blue*/
  color: #55acee;
  text-decoration: none;
}

a:hover {
  opacity: .8;
}



/*---------------------
 #UTILITIES
---------------------*/

.u-full-width {
  width: 100%;
}

.l-box {
  padding: 0 2em 2em;
}

.is-center {
  text-align: center;
}



/*---------------------
 #SEARCH
---------------------*/

.search {
  max-width: 400px;
  margin: 0 auto;
}

.search__form {
  margin-bottom: 2em;
}

.search__suggestions {
  font-size: 13px;
  line-height: 1.5;
}

/*---------------------
 #TWEETS
---------------------*/

.tweets {
  padding-top: 0;
}

.tweet {
  color: #292f33;
  background-color: #fff;
  padding: 25px 30px;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(200,200,200,.4);
  margin: 0 auto 2em;
  max-width: 600px;
}

.avatar {
  display: inline-block;
  border-radius: 3px;
  margin-right: 12px;
  box-shadow: -2px 2px 4px #eee;
}

.user-info {
  position: relative;
  display: inline-block;
  top: -8px;
  line-height: 1.5;
}

.user-name {
  font-weight: bold;
  font-size: 15px;
}

a.user-handle,
.tweet__date {
  /* Twitter light grey*/
  color: #66757f;
}

.tweet__text {
  font-size: 14px;
  line-height: 1.5;
}

.stat {
  padding-right: 15px;
}



/*---------------------
 #ICONS & IMAGES
---------------------*/

.fa-twitter {
  float: right;
  position: relative;
  font-size: 35px;
  top: 8px;
}

.fa-twitter,
.fa-twitter-square {
  /* Twitter blue*/
  color: #55acee;
}

.fa-retweet {
  /*Twitter green */
  color: #19cf86;
}

.fa-heart {
  /*Twitter red*/
  color: #e81c4f;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}



/*---------------------
 #EMPTY-SET
---------------------*/

.empty-set {
  text-align: center;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #e1e8ed;
  margin: 0 auto 2em;
  max-width: 600px;
}

.empty-set .fa {
  font-size: 75px;
}

.empty-set p {
  margin-bottom: 2em;
}



/*---------------------
 #FORMS
---------------------*/

.pure-form input[type] {
  border: 1px solid #ccc;
  box-shadow: none;
  font-size: 120%;
  width: 100%;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}



/*---------------------
 #BUTTONS
---------------------*/

.pure-button {
  /* Twitter Blue */
  background-color: #55acee; 
  color: #fff;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 120%;
  font-weight: bold;
}



/*---------------------
 #MENU
---------------------*/

.home-menu {
  padding: .5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  background: #292f33;
  margin-bottom: 2em;
}

.home-menu .fa {
  position: relative;
  top: 6px;
  color: #fff;
  font-size: 35px;
}

.home-menu a {
  color: #fff;
}

.home-menu .pure-menu-heading {
  font-weight: 400;
  font-size: 100%;
}






/*---------------------
 #FOOTER
---------------------*/

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #e1e8ed;
  padding: 1em 0;
  border-top: 1px solid #ccc;
}



/*---------------------
 #MediaQuery - MEDIUM
---------------------*/

@media (min-width: 48em) {

  body {
    font-size: 14px;
  }

  .content {
    padding: 1em;
    margin-bottom: 70px;
  }
  
  .tweet__text {
    font-size: 16px;
  }

  .home-menu {
    text-align: left;
  }

  .home-menu .pure-menu-heading {
    font-size: 120%
  }

  .heading--right {
    float: right;
    position: relative;
    right: .5em;
    top: 6px;
  }
}
