<!DOCTYPE html>
<html>
<head>
  <title>Express StackComTweets</title>
  <link rel="stylesheet" type="text/css" href="public/stylesheets/main.css" />
</head>

<body>
  <p>Hello World</p>

  <script src="public/js/jquery-1.12.3-min.js"></script>
  <script src="public/js/underscore-min.js"></script>
  <script src="public/js/backbone-min.js"></script>
  <script src="public/js/app.js"></script>
</body>
</html>
